<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Stuff</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="lib/underscore-min.js"></script>
    <script src="lib/jquery-latest.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/shift-request-controller.js"></script>
    <script src="js/app.js"></script>
    
  </head>
  <body ng-controller="ShiftRequestCtlr">

    <table width="70%" border="1">
      <caption>My table</caption>
      <thead>
        <tr>
          <th>Day</th>
          <th ng-repeat="time in times">{{time}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="day in days">
          <td>{{day}}</td>
          <td ng-repeat="time in times">Need: {{shiftNeed[day][time]}}
            Has: {{assignedPeopleCount[day][time]}}
            <ul>
              <li ng-repeat="availabilityOfPerson in scheduleView.selectedPeople(day,time)">
                <div >{{availabilityOfPerson.name}}</div>
                <div ng-repeat="selected in person.selectionStatus(day,time)">
                  {{selected.preference}}
                </div>
              </li>
            </ul>
          </td>            
        </tr>
      </tbody>
    </table>
    <div><input type="checkbox" ng-model="showOnlyAssigned">Only Assigned</div>
    <ul class="unstyled">
        <li ng-repeat="person in people">
          <input type="checkbox" ng-model="value" ng-init="value=true" ng-change="showHide(person,value)">
          <span >{{person.name}}</span>
        </li>
      </ul>
      <button ng-click="savePeopleAssignements()">SAVE</button>
  </body>
</html>